{% trans_default_domain 'FOSUserBundle' %}

<h1 class="text-center">Modification du mot de passe</h1>

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    <div class="form-group">
        {{ form_label(form.current_password)}}
        {% if not form.current_password.vars.valid %}
            <div class="alert alert-danger" role="alert">
                {{ form_errors(form.current_password) }}
            </div>
        {% endif %}
        {{ form_widget(form.current_password) }}
    </div>
    <div class="form-group">
        {% if not form.new.vars.valid %}
            {{ form_errors(form.new) }}
        {% endif %}
        {{ form_widget(form.new) }}
    </div>
    <div id="bouton_valider">
        <input class="btn btn-lg btn-success" type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
{{ form_end(form) }}

<ul>
    <li>
        <a href="{{ path('fos_user_profile_show') }}">Retour au profil</a>
    </li>
</ul>
