{% extends 'base.html.twig' %}

{% block title %}Optimisation de trajets - Admin{% endblock %}

{% block body %}
<div class="container">
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {% include 'TrajetsBundle:Includes:navbar.html.twig' %}
        Connecté en tant que {{ app.user.username }}
        -
        <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
    {% else %}
        <a href="{{ path('fos_user_security_login') }}">Connexion</a>
    {% endif %}
    <h1 class="text-center">Gestion des trajets</h1>
    {% if form is defined %}
        <div class="row">
            <h2>Rechercher des trajets</h2>
            <div class="row">
                <div class="col-md-6">
                    <h3>Trajets en cours</h3>
                    <div class="form-group">
                        {{ form_start(formTrajetsEnCours) }}
                        {{ form_widget(formTrajetsEnCours) }}
                        {{ form_end(formTrajetsEnCours) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <h3>Recherche par dates</h3>

                    {{ form_start(form) }}

                        <div class="form-group row">
                            <div class="col-sm-6">
                                {{ form_label(form.dateDebut)}}
                                {% if not form.dateDebut.vars.valid %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ form_errors(form.dateDebut) }}
                                    </div>
                                {% endif %}
                                {{ form_widget(form.dateDebut) }}
                            </div>
                            <div class="col-sm-6">
                                {{ form_label(form.dateFin)}}
                                {% if not form.dateFin.vars.valid %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ form_errors(form.dateFin) }}
                                    </div>
                                {% endif %}
                                {{ form_widget(form.dateFin) }}
                            </div>
                        </div>
                        <div id="bouton_valider" class="col-sm-12">
                            <input class="btn btn-success" type="submit" value="Envoyer" />
                        </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    {% endif %}

    {% if trajets is defined %}
        <div class="row">
            {%  if enCours is defined and enCours == true %}
                <h2 id="liste_trajets">Liste des trajets en cours</h2>
            {%  else %}
                <h2 id="liste_trajets">Liste des trajets effectués</h2>
            {% endif %}
            {% for trajet in trajets %}
                <ul class="list-unstyled">
                    <h4>Trajet de {{ trajet.origine }} à {{ trajet.destination.nom }}
                        <a href="{{ path('trajets_edit', { 'id': trajet.id }) }}"><span class="glyphicon glyphicon-edit"></span></a>
                    </h4>
                    <li>Effectué par {{ trajet.utilisateur.prenom }} {{ trajet.utilisateur.nom }}.
                        Départ : {{ trajet.dateDepart|date("d/m/Y, H:i") }}.
                        Arrivée estimée : {{ trajet.dateArriveePrevue|date("H:i") }}
                        {% if trajet.estEffectue %}
                            Arrivée réelle : {{ trajet.dateArrivee|date("H:i") }}
                        {% endif %}
                        <br />Etapes :
                        <ul>
                        {% for etape in trajet.etapes %}
                            <li>{{ etape.nom }}</li>
                        {% endfor %}
                        </ul>
                        {% if trajet.estEffectue %}
                            Trajet effectué<br />
                        {%  else %}
                            Trajet non effectué<br />
                        {% endif %}
                        Actif ?
                        {% if trajet.estActif %}
                        Oui
                        {% else %}
                        Non
                        {% endif %}
                    </li>
                </ul>
                <a href="#liste_trajets">Haut de page</a>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}
